* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Poppins-Regular, sans-serif;

}
a {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
}

/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
    margin: 0px;
}

p {
    font-family: Poppins-Regular;
    font-size: 14px;
    line-height: 1.7;
    color: #666666;
    margin: 0px;
}

ul, li {
    margin: 0px;
    list-style-type: none;
}


/*---------------------------------------------*/
input {
    outline: none;
    border: none;
}

textarea {
    outline: none;
    border: none;
}
.txt1 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #999999;
}

.txt2 {
    font-family: Poppins-Regular;
    font-size: 13px;
    line-height: 1.5;
    color: #666666;
}

.button{
    display: flex;
    justify-content: center;

}

.limiter {
    width: 100%;
    margin: 0 auto;
}

.container-custom{
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-image: url("../assets/background.png");
    background-position: center;
    background-attachment: fixed;
}

.login-wrapper {
    width: 600px;
    background: #ffffff80;
    border-radius: 10px;
    box-shadow: 3px 3px 1px 0 #00000080;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px;
}
.hidden{
    visibility: hidden!important;
    display: none!important;
}

.search{
    /*justify-content: center;*/
    /*display: flex;*/
    width: 600px;
    min-height: 400px ;
    background-color: rgba(200,200,200,0.7);
    border-radius: 10px;
    box-shadow: 3px 3px 1px 0 #00000080;
}
.login-form {
    width: 290px;
}

.table tr{
    text-align: center;
}
.input-search{
    display: flex;
    flex-direction: row;
    margin: 10px 5px;
}

.login-img{
    width: 300px;
}

.login-img img{
    border-radius: 50%;
    border-style: solid;
    border-color:grey;
    max-width: 100%;
}

.login-title{
    font-family: Poppins-Bold;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    width: 100%;
    display: block;
    padding-bottom: 54px;
}
.input-wrapper{
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 10px;
}

.input{
    font-family: Poppins-Medium;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;

    display: block;
    width: 100%;
    background: #e6e6e6;
    height: 50px;
    border-radius: 25px;
    padding: 0 30px 0 68px;
}



.icon{
    font-size: 15px;

    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    position: absolute;
    border-radius: 25px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-left: 35px;
    pointer-events: none;
    color: #666666;

    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.error-title{
    padding: 5px 5px;
    color: red;
}

.car-error{
    padding: 5px 5px;
    text-align: center;
    color: red;
    height: 20px;
}

